.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 84px 0 14px 0;
}

.section {
  width: 90%;
  background-color: #000;
  padding: 30px 14px;
  border-radius: 14px;
  z-index: 20;
}

.title {
  text-align: center;
  color: #FFF;
  font-size: 30px;
  margin-bottom: 24px;
}

.content {
  color: #FFF;
  display: grid;
  grid-template-columns: 1fr; // coluna única
  gap: 14px;
  padding: 14px;
  align-items: center;;
  justify-content: center;
}

.item {
  display: flex;
  gap: 14px;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  background-color: #30a500;
  color: #FFF;
  padding: 8px 24px;
  margin-top: 24px;
  font-weight: medium;
  border-radius: 8px;
}

.copyText {
  margin-top: 64px;
}

@media (min-width: 640px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .section {
    width: 60%;
  }
}

